* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1352px;
    margin: 0 auto;

}

/*colors*/
:root {
    --primary-color: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

}

/*fonts*/
:root {
    --font-family-Open-Sans: 'Open Sans', sans-serif;
    --font-family-Raleway: 'Raleway', sans-serif;
}

.header {
    box-shadow: 0 3px 6px var(--color-gray);

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-text {
    font-family: var(--font-family-Raleway);
    color: var(--primary-color);
    font-size: 32px;
    padding: 17px 0 17px 0;
    cursor: pointer;

}

.nav-list-op {
    color: var(--color-gray);
    font-size: 11px;
    text-transform: uppercase;
    font-family: var(--font-family-Open-Sans);
    letter-spacing: 3px;
    padding: 27px 20px 27px 20px;
    margin: 0 25px 0 25px;

}

.nav-list li:hover {
    color: var(--color-black);
    font-weight: 800;

}

.nav-list-op:hover {
    border-bottom: 4px solid var(--primary-color);

}

.open-section {
    width: auto;
    background-image: url("../assets/Background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;


}

.container-open-section {
    display: flex;
    flex-direction: column;

}

.title {
    font-family: var(--font-family-Raleway);
    font-size: 49px;
    color: var(--color-black);
    text-align: center;
    letter-spacing: 0;
    margin-top: 130px

}

.p-text {
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    text-align: center;
    color: var(--color-black);
    margin: 38px;

}

.btn-call-to-action {
    background: var(--primary-color);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    border-radius: 40px;
    width: 440px;
    padding: 22px;
    color: var(--color-white);
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.container-stats-section {

    flex-direction: column;
}


.stats-column {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;

}

.stats-section-title {
    font-family: var(--font-family-Raleway);
    font-size: 36px;
    color: var(--color-black);
    text-align: center;
    margin: 100px 0;
}


.stats-icon {
    padding: 0 100px 0 100px;
    height: 100px;
}

.stats-icon {
    position: relative;
    text-align: center;
}

.stats-icon::before {
    content: '';
    display: block;
    position: absolute;
    width: 62px;
    height: 62px;
    top: 0;
    left: 35%;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}

.icon-person::before {
    background: var(--color-redish);
}

.icon-eye::before {
    background: var(--primary-color);
}

.icon-catalog::before {
    background: var(--color-green);
}

.icon {
    /*border: 3px solid green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
}

.stats-title {
    font-family: var(--font-family-Raleway);
    color: var(--color-black);
    font-size: 20px;
    text-align: center;
    letter-spacing: 6px;
    font-weight: 800;
    margin: 14px 0 19px;
}

.stats-text {
    font-family: var(--font-family-Raleway);
    color: var(--color-gray);
    font-size: 17px;
    text-align: center;
}

.benefits {
    background-color: var(--color-light-grey);
}

.benefits-main-container {
    display: flex;
    width: 1124px;
    flex-direction: column;
    margin: 0 auto;

}

.benefits-container:first-of-type {
    margin-top: 105px;
}


.benefits-container {
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 37px;
    padding: 36px;
    height: 370px;

}

.benefits-text-section {
    text-align: left;
    padding-bottom: 50px;
}

.benefits-title {
    font-family: var(--font-family-Raleway);
    font-size: 36px;
    color: var(--color-black);
    text-align: left;
    margin-bottom: 30px;
}

.benefits-text {
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    color: var(--color-black);
    text-align: left;
    width: 416px;
}

.macbook-image {
    height: 219px;

}

.iphone-image {
    height: 328px;
    margin-bottom: 40px;
}

.trumpet-image {
    height: 219px;
}

.right-side {
    margin-right: 170px;
}

.benefits-images {
    position: relative;
    z-index: 2;
    padding-top: 75px;
}

.benefits-images::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
}

.benefits-text::after {
    content: "";
    position: relative;
    bottom: -50px;
    left: 0;
    right: 0;
    height: 4px;
    width: 80%;
    display: block;

}

.left-side {
    margin-left: 170px;
}

.redish::after {

    background: var(--color-redish);
}

.blue::after {
    background: var(--primary-color);

}

.green::after {
    background: var(--color-green);
}

.square::after {
    background: var(--color-redish);
    width: 180px;
    height: 180px;
    border-radius: 41px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    top: 50px;
    right: 0;
}

.circle::after {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    top: 10%;
    left: 0;
    right: 0;
}


.benefits-container-green-trumpet {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    height: 370px;
    margin-bottom: 105px;

}

.benefits-green-trumpet-text-section {
    background: var(--color-white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 36px 36px 36px;
    border: 1px solid #E8E9ED;
}

.benefits-images-trumpet {
    z-index: 1;
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 440px;
}

.pricing-title {
    font-family: var(--font-family-Raleway);
    font-size: 36px;
    text-align: center;
    color: var(--color-black);
    margin-top: 100px;
    margin-bottom: 50px;

}

.pricing-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-bottom: 173px;
}

.column {
    text-align: center;
    border-radius: 18px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    width: 372px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.column-basic {
    border: 1px solid var(--color-redish);
    background: var(--color-white);
    height: 461px;

}

.column-title {
    font-family: var(--font-family-Raleway);
    font-size: 20px;
    font-weight: bold;
    color: #13253B;
}

.price {
    font-family: var(--font-family-Open-Sans);
    font-size: 46px;
    margin-bottom: 5px;
    margin-top: 14px;
    font-weight: 300;
}

.column-professional {
    border: 1px solid #07ACE6;
    box-shadow: 5px 10px 27px #07ACE629;
    background: var(--color-white);
    height: 500px;

}

.column-premium {
    border: 1px solid var(--color-green);
    background: var(--color-white);
    height: 461px;
}

.price-basic {
    color: var(--color-redish);
}

.price-professional {
    color: var(--primary-color);
}

.price-premium {
    color: var(--color-green);
}

.basic-list {
    margin-bottom: 55px;

}

.professional-list {
    margin-bottom: 53px;
}

.premium-list {
    margin-bottom: 55px;

}

.limited-info {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 12px;
    text-align: left;
}

.price-list-info, .price-list-info-cross {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-top: 20px;

}

.price-list-info::before {
    content: "";
    background-image: url("../assets/Ckechmark-1.svg");
    height: 11px;
    width: 11px;
    border-radius: 2px;
    margin-right: 10px;
    display: inline-block;
}

.price-list-info-cross::before {
    content: "";
    background-image: url("../assets/Close.svg");
    height: 11px;
    width: 11px;
    border-radius: 2px;
    margin-right: 10px;
    display: inline-block;
}

.begin-basic-button {
    background-color: var(--color-redish);
}

.begin-professional-button {
    background-color: var(--primary-color);
    box-shadow: 5px 10px 14px #07ACE629;
}

.begin-premium-button {
    background-color: var(--color-green);
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 23px;
    font-family: var(--font-family-Open-Sans);
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
}


.question-info {
    padding: 0 0 0 114px;
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-contact {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
}


.contact-right-side {
    padding: 0 114px 0 0;
    width: 50%;
}


.contact-title {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    color: var(--color-black);
}

.contact-text {
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 42px;
}

.contact-options {
    display: inline-block;
    font-family: var(--font-family-Open-Sans);
    font-size: 16px;
    color: var(--color-gray);
    margin-right: 10px;
}

.labels {
    font-family: var(--font-family-Open-Sans);
    color: var(--primary-color);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
}

input[type="text"] {
    padding: 20px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #95989A;
    margin-bottom: 42px;
}

.checkbox {

    cursor: pointer;
    display: flex;
    font-weight: 400;
    color: #707070;
    text-align: left;
    font-family: var(--font-family-Open-Sans);
    font-size: 17px;
    line-height: 25px;
}

.checkbox input {
    border: 2px solid greenyellow;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox span {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    border: 1px solid #95989A;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 4px;
}


.button-send {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    background-color: var(--primary-color);
    border-radius: 35px;
    padding: 20px 97px;
    color: var(--color-white);
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
    margin-bottom: 59px;
}

.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px;

}

.footer-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 17px 0;
}

.logo-footer {

    font-family: var(--font-family-Raleway);
    font-size: 26px;
    color: var(--primary-color);
    font-weight: 300;

}

.footer-info {
    margin-top: 6px;
    font-family: var(--font-family-Open-Sans);
    font-size: 11px;
    color: var(--color-gray);
}

.footer-icon a:first-of-type {
    margin-right: 25px;
}




